.tabs > ul{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.tabs > ul > li {
    display: block;
}

.content{
    display: block;
}

.task_input{
    resize: vertical;
}

.centered {
    display: none;
}

.developer_info {
    position: absolute;
    bottom: 0;
}